header.header
    .header-top
        a(href="/home") 雷哥-WEB前端成神之路
        p 前端最前沿的相关技术、干货、包你喜爱
    .header-menu
        .container
            .row
                .col-md-12
                    #navigation-wrapper
                        ul
                            li
                                a 首页
                            li
                                a 前端日记
                            li
                                a 插件使用
                            li
                                a Vue实战
                            li
                                a JavaWeb
