input#hdCurrentUserID(type="hidden", value=memberId)
input#corsUrl(type="hidden", value=corsUrl)
.browser-suggest
    span(style="color:#FFFFFF;") 为保证您的效果，建议使用谷歌浏览器，
    a(href="javascript:void(0);", onclick="window.open('http://esh-web.oss-cn-beijing.aliyuncs.com/Soft/Chrome.exe', '_blank')", style="color:#000000;") 点此下载
if memberId==null
   img.collapse(src="http://changyan.sohu.com/api/2/logout?client_id=cyt0Xpkrv")
nav#topnav.nav.navbar-default.navbar-fixed-top.nav-top(role="navigation")
    .container
        .navbar-header
            .nav-top-brand 您好，欢迎来到二手汇！
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    span.login_register
                        if memberId
                            a(href="/Member/Exit") 退出
                            | &nbsp;-&nbsp;
                        else
                            a(href="/Member/Login2?returnUrl="+domain) 登录
                            | &nbsp;-&nbsp;

                        a(href="/Member/Register3") 免费注册
                li.appdown
                    #appdown-li.appdown-img
                    .appdown-title APP下载
                li
                    span.top_myinfo
                        a(href="/Member", onclick="return checkIsLogin(this.href);") 我的信息
                li(style="display:none;")
                    span.top_gz
                        a#a-add-fav(href="javascript:void(0);", title="关注本站到你的关注") 加入关注
                    | |
                li(style="display:none")
                    span.top_xz
                        a#appdown(href="javascript:void(0);") App下载
                if memberId
                    li.msg
                        .msg-block(style="display: inline-block;")
                            .msg-img
                            .msg-title 消息
                            .msg-count
                            .arrow-down
                        .msg-none(style="display:none;")
                            .msg-img
                            .msg-title 消息
                            .msg-count
                            .arrow-down
                    li.favorites
                        .fav-img
                        .fav-title 我的收藏
                li.top_time(style="border-right:none;")
                    span.top_time_text 当前时间：
                    span#nowtime.top_time_value
            //APP下载
            #appdown-box.appdown-box
                div.appdown_box_icon
                div.appdown_box_text APP下载
                img(src=javaurl+"/Images/home/APP.png?v=2.1")
                br
                |                 扫码下载APP
            //*消息*
            #msg-box.msg-box
