#top
    .applogo
        a.logo(href="#") LeiAdmind
    a.sidebar-open-button(href="#")
        span.icon-menu
    a.sidebar-open-button-mobile(href="#")
        span.icon-menu
    form.searchform
        input(type="text" class="searchbox" id="searchbox" placeholder="搜索")
        span.searchbutton
            span.icon-select
    ul.top-right
        li.link
            a.notifications(href="#") 0
        li.dropdown.link
            a.dropdown-toggle.profilebox
                img(src="/images/logo2.jpg")
                b houtailei
                span.caret