extends ../Shared/_Layout
block seo
    title= "BLOG"
block css
block content
    .contain.home
        h1.title 博客管理
        table.table.table-bordered.table-striped.table-hover.blogTable
            thead
                tr
                    th #
                    th 标题
                    th.tc 状态
                    th.tc 阅读
                    th.tc 操作
            tbody
                each data,index in articlelist
                    tr
                        th(scope='row')=Blog+1
                        td=data.title
                        td
                        td
                        td
                            a(class="btn btn-info btn-sm") 编辑
                            a(class="btn btn-danger btn-sm") 删除

block js
