doctype html
html
    head
        //title及seo模块
        block seo
        meta(charset="utf-8")
        meta(name="baidu-site-verification",content="svNV3eG6Wq")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" ,content="width=device-width, initial-scale=1")
        //公用css
        link(href="/stylesheets/styles.css",rel="stylesheet")
        block css
    body
        include Nav.jade
        block content
        script(src="/javascripts/responsive-nav.js")
        script.
            var navigation = responsiveNav("#navigation-wrapper");
        block js