footer.footer
        .container
            p
                |Copyright © 2017
                a(href="/" rel="home") 侯太雷关注web前端技术
                |. All rights reserved.<br>Powered by
                a(href="/") houtailei.cn
