.sidebar.clearfix
    ul.sidebar-panel.nav
        li.sidetitle MENU
        li
            a(href="#")
                span(class="icon-blog" aria-hidden="true")
                |博客
                span.caret
            ul
                li
                    a#Blog.item-sm(href="/Admin/Blog") 博客管理
                    a.item-sm(href="") 新增博客
        li
            a(href="#")
                span(class="icon-gg" aria-hidden="true")
                | 公告
                span.caret
            ul
                li
                    a#Notice.item-sm(href="/Admin/Notice") 公告管理
